


.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.0rem;
} 
    

.input-group-item {
    margin-right: 1.6rem;

}

@media (min-width: 600px) {
    .input-group {
        flex-direction: row;
        margin-bottom: 3.0rem;
    }
}