.loginPage {
    align-items: center;
    background: url("/images/tokyo-background-2.jpeg");
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.loginPage-box {
    background: white;
    border-radius: 5px;
    padding: 3.2rem 1.6rem;
    text-align: center;
    width: 25rem;
}

.loginPage-title {
    margin: 0 0 1.6rem 0;
    line-height: 1;
    
}